:root {
  --color-primary: #EF7F1B;
  --color-dark: #0F0E0E;
  --color-white: #FFFFFF;
  --color-gray: #D9D9D9;
  --color-light-gray: #F5F5F5;
  --clr-dark-gray: #515151;
  --color-primary-light: #EEF9FF;
  --color-dark-muted: rgba(0, 0, 0, 0.5);
  --color-yellow: #FBDE1B;
  --color-green: #809A4D;
  --width-base: 1440;
  --width-current: 100vw;
  --width-multiplier: calc(var(--width-current) / var(--width-base));
}

@media (max-width: 768px) {
  :root {
    --width-base: 375;
    --width-current: 100vmin;
  }
}
.gr-5-24 {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .gr-5-24 {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(12 * var(--width-multiplier));
  }
}

.gr-4-24 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .gr-4-24 {
    grid-template-columns: repeat(2, 1fr);
    gap: calc(12 * var(--width-multiplier));
  }
}

.cover-video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Involve", sans-serif;
}

.t46 {
  color: #0F0E0E;
  font-size: calc(46 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .t46 {
    font-size: calc(24 * var(--width-multiplier));
  }
}

.t-white {
  color: white;
}

.t-center {
  text-align: center;
}

.mb46 {
  margin-bottom: calc(46 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .mb46 {
    margin-bottom: calc(23 * var(--width-multiplier));
  }
}

.t26 {
  color: #0F0E0E;
  font-size: calc(26 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 768px) {
  .t26 {
    font-size: calc(20 * var(--width-multiplier));
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  gap: calc(25 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .banner-content {
    gap: calc(15 * var(--width-multiplier));
  }
}

.t16 {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .t16 {
    font-size: calc(14 * var(--width-multiplier));
  }
}

.t14 {
  color: #0F0E0E;
  font-size: calc(14 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .t14 {
    font-size: calc(12 * var(--width-multiplier));
  }
}

.button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: calc(16 * var(--width-multiplier));
  border-radius: calc(8 * var(--width-multiplier));
  background: #EF7F1B;
  color: #FFFFFF;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
  width: 100%;
  gap: calc(12 * var(--width-multiplier));
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .button:hover {
    background: #D27726;
  }
}
@media (hover: none) {
  .button:active {
    background: #D27726;
  }
}
.button_outline {
  background: rgba(239, 127, 27, 0.1019607843);
  color: #EF7F1B;
}
@media (hover: hover) and (pointer: fine) {
  .button_outline:hover {
    background: #EF7F1B;
    color: #FFFFFF;
  }
}
@media (hover: none) {
  .button_outline:active {
    background: #EF7F1B;
    color: #FFFFFF;
  }
}
.button_white {
  background: #FFFFFF;
  color: #0F0E0E;
}
@media (hover: hover) and (pointer: fine) {
  .button_white:hover {
    background: #0F0E0E;
    color: #FFFFFF;
  }
}
@media (hover: none) {
  .button_white:active {
    background: #0F0E0E;
    color: #FFFFFF;
  }
}

.swiper-btn-arrow {
  cursor: pointer;
  width: calc(60 * var(--width-multiplier));
  height: calc(60 * var(--width-multiplier));
  border-radius: 50%;
  border: calc(1 * var(--width-multiplier)) solid #FFFFFF;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease;
}
.swiper-btn-arrow_dark {
  background: #0F0E0E;
}
.swiper-btn-arrow_dark.swiper-button-disabled {
  background: rgba(43, 44, 44, 0.5);
}
.swiper-btn-arrow_blue {
  background: #EF7F1B;
  border-color: #EF7F1B;
}
.swiper-btn-arrow_blue path {
  fill: #FFFFFF !important;
}
.swiper-btn-arrow_blue.swiper-button-disabled {
  background: #FFFFFF;
  border-color: #FFFFFF;
}
.swiper-btn-arrow_blue.swiper-button-disabled path {
  fill: #0F0E0E !important;
}
.swiper-btn-arrow_white {
  background: #FFFFFF;
  border: none;
}
.swiper-btn-arrow_white.swiper-button-disabled {
  background: rgba(255, 255, 255, 0.5);
}
.swiper-btn-arrow_white.swiper-button-disabled path {
  fill: #FFFFFF;
}
@media (max-width: 768px) {
  .swiper-btn-arrow {
    width: calc(25 * var(--width-multiplier));
    height: calc(25 * var(--width-multiplier));
  }
}
@media (max-width: 768px) {
  .swiper-btn-arrow svg {
    width: calc(15 * var(--width-multiplier));
    height: calc(15 * var(--width-multiplier));
  }
}
.swiper-btn-arrow path {
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .swiper-btn-arrow:hover {
    border-color: #EF7F1B;
    box-shadow: 0px 0px 20px 0px rgba(239, 126, 27, 0.6235294118);
  }
  .swiper-btn-arrow:hover path {
    fill: #EF7F1B;
  }
  .swiper-btn-arrow:active {
    scale: 0.9;
  }
}
@media (hover: none) {
  .swiper-btn-arrow:active {
    scale: 0.96;
  }
}

.container {
  width: 100%;
  max-width: calc(1352 * var(--width-multiplier));
  padding-inline: calc(16 * var(--width-multiplier));
  margin-inline: auto;
}

section {
  padding: calc(60 * var(--width-multiplier)) 0;
}
@media (max-width: 768px) {
  section {
    padding: calc(30 * var(--width-multiplier)) 0;
  }
}
section.first-section {
  padding-top: calc(12 * var(--width-multiplier));
}
section.last-section {
  padding-bottom: calc(120 * var(--width-multiplier));
}
@media (max-width: 768px) {
  section.last-section {
    padding-bottom: calc(60 * var(--width-multiplier));
  }
}

main {
  padding-top: calc(154 * var(--width-multiplier));
}
@media (max-width: 768px) {
  main {
    padding-top: calc(182 * var(--width-multiplier));
  }
}

.header {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  z-index: 1001;
  transition: all 0.8s ease;
}
.header__top {
  background: rgb(245, 245, 245);
}
.header__top-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(12 * var(--width-multiplier));
  padding: calc(16 * var(--width-multiplier)) 0;
}
.header__phonecall {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 768px) {
  .header__phonecall {
    font-size: calc(14 * var(--width-multiplier));
  }
}
.header__box {
  padding: calc(24 * var(--width-multiplier)) 0;
  background: #FFFFFF;
}
.header__box-inner {
  display: flex;
  align-items: center;
}
.header__logo {
  max-width: calc(180 * var(--width-multiplier));
  height: calc(50 * var(--width-multiplier));
  margin-right: calc(24 * var(--width-multiplier));
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.header__usrpieces {
  display: flex;
  align-items: center;
  gap: calc(10 * var(--width-multiplier));
}

.user-link {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(4 * var(--width-multiplier));
}
.user-link__icon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-link span {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}

.catalog-call {
  width: -moz-fit-content;
  width: fit-content;
  padding: calc(19 * var(--width-multiplier)) calc(30 * var(--width-multiplier));
  gap: calc(8 * var(--width-multiplier));
  margin-right: calc(8 * var(--width-multiplier));
}
.catalog-call__burger {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: calc(3 * var(--width-multiplier));
  width: calc(18 * var(--width-multiplier));
  z-index: 101;
}
.catalog-call__burger span {
  height: calc(1.5 * var(--width-multiplier));
  width: 100%;
  background: #FFFFFF;
  border-radius: calc(4 * var(--width-multiplier));
  font-weight: 400;
  transition: all 0.3s ease;
}

.search-form {
  display: flex;
  align-items: center;
  border-radius: calc(12 * var(--width-multiplier));
  background: #F5F4F1;
  max-width: calc(580 * var(--width-multiplier));
  width: 100%;
  height: calc(54 * var(--width-multiplier));
  margin-right: auto;
}
.search-form input {
  height: 100%;
  flex-grow: 1;
  padding-inline: calc(14 * var(--width-multiplier));
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}
.search-form__submit {
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  padding: 0;
  height: 100%;
  padding-inline: calc(14 * var(--width-multiplier));
}

@media (max-width: 768px) {
  .menu {
    position: fixed;
    top: 100%;
    left: 0;
    width: 100%;
    height: -moz-fit-content;
    height: fit-content;
    background: #FFFFFF;
    opacity: 0;
    pointer-events: none;
    z-index: 100;
    border-radius: 0px 0px calc(12 * var(--width-multiplier)) calc(12 * var(--width-multiplier));
    padding: calc(30 * var(--width-multiplier)) calc(16 * var(--width-multiplier));
    max-height: 70vh;
    overflow-x: hidden;
    overflow-y: auto;
    transition: all 0.3s ease;
  }
}
.menu__nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .menu__nav {
    flex-direction: column;
    gap: calc(12 * var(--width-multiplier));
  }
}
.menu__link {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}
.menu__link_away {
  text-decoration: underline;
}
@media (max-width: 768px) {
  .menu__link {
    font-weight: 600;
    font-size: calc(18 * var(--width-multiplier));
  }
}

.burger {
  display: none;
}
@media (max-width: 768px) {
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: calc(5 * var(--width-multiplier));
    width: calc(23 * var(--width-multiplier));
    z-index: 101;
  }
}
.burger__line {
  height: calc(1.5 * var(--width-multiplier));
  width: 100%;
  background: #0F0E0E;
  border-radius: calc(4 * var(--width-multiplier));
  transition: all 0.3s ease;
}

.header.menu-active .menu {
  opacity: 1;
  pointer-events: auto;
}
.header.menu-active .burger__line:first-child {
  transform: rotate(45deg) translateY(calc(9 * var(--width-multiplier)));
}
.header.menu-active .burger__line:nth-child(2) {
  opacity: 0;
}
.header.menu-active .burger__line:last-child {
  transform: rotate(-45deg) translateY(calc(-9 * var(--width-multiplier)));
}

.footer {
  background: #222;
  padding: calc(60 * var(--width-multiplier)) 0 calc(120 * var(--width-multiplier));
  overflow: hidden;
}
@media (max-width: 768px) {
  .footer {
    padding: calc(30 * var(--width-multiplier)) 0 calc(60 * var(--width-multiplier));
  }
}
.footer__box {
  display: grid;
  grid-template-columns: calc(330 * var(--width-multiplier)) 1fr 1fr 1fr 1fr;
  gap: calc(20 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .footer__box {
    grid-template-columns: 100%;
    gap: calc(30 * var(--width-multiplier));
  }
}
.footer__logosbox {
  display: flex;
  flex-direction: column;
  gap: calc(26 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .footer__logosbox {
    gap: calc(20 * var(--width-multiplier));
  }
}
.footer__logo {
  max-width: calc(230 * var(--width-multiplier));
  height: 60px;
}
.footer__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.footer__desc {
  color: rgba(255, 255, 255, 0.8);
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
.footer__socbox {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: start;
  gap: calc(20 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .footer__socbox {
    gap: calc(10 * var(--width-multiplier));
  }
}
.footer__soclink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24 * var(--width-multiplier));
  height: calc(24 * var(--width-multiplier));
}
.footer__soclink svg {
  width: 100%;
  height: 100%;
}
.footer__nabox {
  display: flex;
  flex-direction: column;
  gap: calc(26 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .footer__nabox {
    gap: calc(15 * var(--width-multiplier));
  }
}
.footer__nabox_2cols {
  grid-column: span 2;
}
@media (max-width: 768px) {
  .footer__nabox_2cols {
    grid-column: unset;
  }
}
.footer__title {
  color: #FFFFFF;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 768px) {
  .footer__title {
    font-size: calc(18 * var(--width-multiplier));
  }
}
.footer__nav {
  display: flex;
  flex-direction: column;
  gap: calc(20 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .footer__nav {
    gap: calc(12 * var(--width-multiplier));
  }
}
.footer__nav_2cols {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(20 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .footer__nav_2cols {
    gap: calc(12 * var(--width-multiplier));
    grid-template-columns: 100%;
  }
}
.footer__link {
  color: #FFFFFF;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}

.link {
  position: relative;
  width: -moz-fit-content;
  width: fit-content;
  transition: color 0.3s ease;
}
.link::before {
  content: "";
  position: absolute;
  height: calc(1 * var(--width-multiplier));
  width: 0;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  background: #EF7F1B;
  transition: width 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .link:hover {
    color: #EF7F1B;
  }
  .link:active::before {
    width: 100%;
  }
}
@media (hover: none) {
  .link:active {
    color: #EF7F1B;
  }
  .link:active::before {
    width: 100%;
  }
}

.link_icon {
  cursor: pointer;
  display: flex;
}
.link_icon svg {
  transition: all 0.3s ease;
}
@media (hover: hover) and (pointer: fine) {
  .link_icon:hover svg {
    scale: 1.2;
  }
  .link_icon:active svg {
    scale: 1;
  }
}
@media (hover: none) {
  .link_icon:active svg {
    scale: 0.96;
  }
}

@keyframes float1 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes float2 {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1) translateY(-15px);
  }
}
@keyframes float3 {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}
@keyframes float4 {
  0%, 100% {
    transform: scale(1) translateY(0);
  }
  50% {
    transform: scale(1) translateY(-25px);
  }
}
.float1 {
  animation: float1 3s ease-in-out infinite;
}

.float2 {
  animation: float2 4s ease-in-out infinite;
  animation-delay: 0.5s;
}

.float3 {
  animation: float3 5s ease-in-out infinite;
  animation-delay: 1s;
}

.float4 {
  animation: float4 6s ease-in-out infinite;
  animation-delay: 1.5s;
}

.spin360 {
  animation: spin 15s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  z-index: 1100;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  overflow-y: auto;
  overflow-x: hidden;
  cursor: url("data:image/svg+xml,%3Csvg width='19' height='19' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M15.514.535l-6.42 6.42L2.677.536a1.517 1.517 0 00-2.14 0 1.517 1.517 0 000 2.14l6.42 6.419-6.42 6.419a1.517 1.517 0 000 2.14 1.517 1.517 0 002.14 0l6.419-6.42 6.419 6.42a1.517 1.517 0 002.14 0 1.517 1.517 0 000-2.14l-6.42-6.42 6.42-6.418a1.517 1.517 0 000-2.14 1.516 1.516 0 00-2.14 0z' fill='%23FFF' fill-rule='nonzero'/%3E%3C/svg%3E"), auto;
  visibility: hidden;
}
@media (max-width: 768px) {
  .modal {
    padding: 16px;
  }
}
.modal.is_active {
  display: flex;
  visibility: visible;
}
.modal.is_active .modal-inner {
  animation: scaleModal 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
}
.modal.is_active .modal-inner__bg {
  animation: scaleModal 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards, float2 3s ease-in-out 0.8s infinite;
  animation-delay: 0.3s;
}
.modal.is_active .modal-inner__bg_bottom {
  animation: scaleModal 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards, float1 3s ease-in-out 0.8s infinite;
}
.modal__close {
  position: absolute;
  right: calc(25 * var(--width-multiplier));
  top: calc(25 * var(--width-multiplier));
  cursor: pointer;
  width: calc(34 * var(--width-multiplier));
  height: calc(34 * var(--width-multiplier));
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
  transition: scale 0.3s ease;
}
@media (max-width: 768px) {
  .modal__close {
    right: calc(15 * var(--width-multiplier));
    top: calc(15 * var(--width-multiplier));
  }
}
@media (max-width: 768px) {
  .modal__close svg {
    width: calc(24 * var(--width-multiplier));
    height: calc(24 * var(--width-multiplier));
  }
}
.modal__close:hover {
  scale: 1.1;
}
.modal__close:active {
  scale: 0.9;
}
.modal__title {
  font-size: calc(38 * var(--width-multiplier));
  font-weight: 700;
  line-height: 100%;
  text-align: center;
}

.modal-inner {
  position: relative;
  display: flex;
  background: #fff;
  border-radius: calc(8 * var(--width-multiplier));
  max-width: calc(480 * var(--width-multiplier));
  width: 100%;
  margin: auto;
  cursor: auto;
  overflow: hidden;
  will-change: scale, opacity, transform;
}
@media (max-width: 768px) {
  .modal-inner {
    border: calc(16 * var(--width-multiplier));
  }
}
.modal-inner__box {
  width: 100%;
  padding: calc(42 * var(--width-multiplier));
  display: flex;
  flex-direction: column;
  gap: calc(25 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .modal-inner__box {
    padding: calc(20 * var(--width-multiplier));
    gap: calc(20 * var(--width-multiplier));
  }
}

.modal-form {
  display: flex;
  flex-direction: column;
  gap: calc(8 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .modal-form {
    gap: calc(10 * var(--width-multiplier));
  }
}
.modal-form__submit {
  margin-top: calc(26 * var(--width-multiplier));
  min-width: 100%;
  margin-top: calc(12 * var(--width-multiplier));
}
.modal-input {
  padding: calc(15 * var(--width-multiplier)) 0;
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
  border-bottom: calc(1 * var(--width-multiplier)) solid rgba(0, 0, 0, 0.1);
}

@keyframes scaleModal {
  0% {
    opacity: 0;
    transform: scale(0.9);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
.mark {
  padding: calc(12 * var(--width-multiplier));
  border-radius: calc(4 * var(--width-multiplier));
  background: #FFFFFF;
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(15 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
  width: -moz-fit-content;
  width: fit-content;
  text-align: center;
}
@media (max-width: 768px) {
  .mark {
    padding: calc(7 * var(--width-multiplier));
    font-size: calc(10 * var(--width-multiplier));
  }
}
.mark_big {
  padding: calc(12 * var(--width-multiplier)) calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .mark_big {
    padding: calc(8 * var(--width-multiplier));
  }
}

[data-tabs].tabs {
  border: none;
  display: flex;
  align-items: center;
  gap: calc(8 * var(--width-multiplier));
  margin-bottom: calc(30 * var(--width-multiplier));
  flex-wrap: wrap;
}
@media (max-width: 768px) {
  [data-tabs].tabs {
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}
[data-tabs].tabs li {
  display: flex;
}
[data-tabs].tabs a[role=tab] {
  border: none;
  border-radius: calc(4 * var(--width-multiplier));
  background: rgba(0, 0, 0, 0.03);
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
  transition: all 0.3s ease;
}
[data-tabs].tabs a[role=tab][aria-selected=true] {
  background: #0F0E0E;
  color: #FFFFFF;
}

.hero__box {
  display: grid;
  grid-template-columns: 1fr calc(480 * var(--width-multiplier));
  gap: calc(24 * var(--width-multiplier));
  min-height: calc(400 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .hero__box {
    grid-template-columns: 100%;
    gap: 0;
    min-height: -moz-fit-content;
    min-height: fit-content;
    border-radius: calc(12 * var(--width-multiplier));
    overflow: hidden;
    height: 100%;
  }
}
.hero-left {
  position: relative;
  padding: calc(32 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero-left {
    padding: calc(12 * var(--width-multiplier));
    min-height: calc(150 * var(--width-multiplier));
    border-radius: 0;
  }
}
.hero-left::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(270deg, rgba(49, 49, 49, 0) 0%, rgba(49, 49, 49, 0.85) 100%);
  z-index: -2;
}
.hero-left__title {
  max-width: calc(361 * var(--width-multiplier));
  font-weight: 600;
}
.hero-left__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
}
.hero-right {
  position: relative;
  padding: calc(24 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero-right {
    padding: calc(12 * var(--width-multiplier));
    min-height: calc(150 * var(--width-multiplier));
    border-radius: 0;
  }
}
.hero-right::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: linear-gradient(90deg, rgba(49, 49, 49, 0) 0%, rgba(49, 49, 49, 0.82) 134.13%);
  z-index: -2;
}
.hero-right__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -3;
}
.hero-right__content {
  display: flex;
  flex-direction: column;
  gap: calc(18 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .hero-right__content {
    gap: calc(6 * var(--width-multiplier));
  }
}
.hero-right__icon {
  width: calc(42 * var(--width-multiplier));
  height: calc(42 * var(--width-multiplier));
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .hero-right__icon {
    width: calc(32 * var(--width-multiplier));
    height: calc(32 * var(--width-multiplier));
  }
}
.hero-right__subtitle {
  font-family: "Involve", sans-serif;
  color: #FFFFFF;
  font-size: calc(28 * var(--width-multiplier));
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hero-right__subtitle {
    font-size: calc(16 * var(--width-multiplier));
  }
}
.hero-right__title {
  font-family: "Involve", sans-serif;
  color: #FFFFFF;
  font-size: calc(106 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .hero-right__title {
    font-size: calc(50 * var(--width-multiplier));
  }
}

.swiper-hero {
  overflow: hidden;
  border-radius: calc(12 * var(--width-multiplier));
}
.swiper-hero .swiper-slide {
  height: auto;
}

.swiper-hero-pagi {
  position: relative;
  top: unset !important;
  bottom: unset !important;
  left: unset !important;
  right: unset !important;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(6 * var(--width-multiplier));
  width: -moz-fit-content !important;
  width: fit-content !important;
  padding: calc(6 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  background: #F5F4F1;
  margin-inline: auto;
  margin-top: calc(26 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .swiper-hero-pagi {
    margin-top: calc(12 * var(--width-multiplier));
  }
}
.swiper-hero-pagi .swiper-pagination-bullet {
  margin: 0 !important;
  width: calc(8 * var(--width-multiplier));
  height: calc(8 * var(--width-multiplier));
}
.swiper-hero-pagi .swiper-pagination-bullet-active {
  background: #EF7F1B;
}

.hero-products__title {
  margin-bottom: calc(26 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .hero-products__title {
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}

.willfollow__box {
  position: relative;
  display: flex;
  align-items: center;
  gap: calc(100 * var(--width-multiplier));
  padding: calc(32 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  background: linear-gradient(93deg, #FA8D07 1.17%, #AE251F 50.37%, #1F0F02 99.56%);
}
@media (max-width: 768px) {
  .willfollow__box {
    gap: calc(20 * var(--width-multiplier));
    overflow: hidden;
    flex-direction: column;
    padding: calc(24 * var(--width-multiplier));
  }
}
.willfollow__left {
  display: flex;
  flex-direction: column;
  gap: calc(25 * var(--width-multiplier));
  max-width: calc(540 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .willfollow__left {
    gap: calc(15 * var(--width-multiplier));
    max-width: 100%;
  }
}
@media (max-width: 768px) {
  .willfollow__right {
    display: none;
  }
}
.willfollow__img {
  position: absolute;
  top: calc(-58 * var(--width-multiplier));
  right: calc(160 * var(--width-multiplier));
  height: calc(100% + calc(60 * var(--width-multiplier)));
  max-width: calc(480 * var(--width-multiplier));
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  z-index: 1;
}
.willfollow__title {
  color: #FFFFFF;
  font-size: calc(32 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .willfollow__title {
    font-size: calc(24 * var(--width-multiplier));
  }
}
.willfollow__desc {
  color: #FFFFFF;
  font-size: calc(18 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .willfollow__desc {
    font-size: calc(16 * var(--width-multiplier));
  }
}
.willfollow__btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: calc(16 * var(--width-multiplier)) calc(46 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .willfollow__btn {
    width: 100%;
  }
}

.about-hero__heading {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: calc(24 * var(--width-multiplier));
  text-align: center;
  margin-bottom: calc(36 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .about-hero__heading {
    gap: calc(16 * var(--width-multiplier));
  }
}
.about-hero__subtitle {
  color: #0F0E0E;
  font-family: "Involve", sans-serif;
  font-size: calc(18 * var(--width-multiplier));
  font-weight: 500;
  line-height: 1;
  font-style: italic;
}
@media (max-width: 768px) {
  .about-hero__subtitle {
    font-size: calc(16 * var(--width-multiplier));
  }
}
.about-hero__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .about-hero__box {
    grid-template-columns: 100%;
    gap: calc(20 * var(--width-multiplier));
  }
}
.about-hero__video {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: calc(12 * var(--width-multiplier));
}
.about-hero__right {
  display: flex;
  flex-direction: column;
  gap: calc(36 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .about-hero__right {
    gap: calc(24 * var(--width-multiplier));
  }
}
.about-hero__btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: calc(16 * var(--width-multiplier)) calc(46 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .about-hero__btn {
    width: 100%;
  }
}

.swiper-partners .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-partners .swiper-slide {
  max-width: calc(250 * var(--width-multiplier));
  height: auto;
}
@media (max-width: 768px) {
  .swiper-partners .swiper-slide {
    max-width: calc(200 * var(--width-multiplier));
  }
}

.partnercard {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: calc(24 * var(--width-multiplier));
  border-radius: 12px;
  background: #F5F4F1;
}
@media (max-width: 768px) {
  .partnercard {
    padding: calc(12 * var(--width-multiplier));
  }
}
.partnercard__img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .partnercard__img {
    width: 90%;
    height: 90%;
  }
}

.partners {
  overflow: hidden;
}

.reviews {
  overflow: hidden;
}
.reviews__title {
  margin-bottom: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .reviews__title {
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}
.reviews__btn {
  width: -moz-fit-content;
  width: fit-content;
  min-width: calc(220 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .reviews__btn {
    width: 100%;
  }
}

.swiper-reviews {
  margin-bottom: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .swiper-reviews {
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}
.swiper-reviews .swiper-wrapper {
  transition-timing-function: linear;
}
.swiper-reviews .swiper-slide {
  height: auto;
  max-width: calc(480 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .swiper-reviews .swiper-slide {
    max-width: calc(200 * var(--width-multiplier));
  }
}

.review-card {
  display: flex;
  flex-direction: column;
  gap: calc(16 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  background: #F5F4F1;
  padding: calc(24 * var(--width-multiplier));
  height: 100%;
}
@media (max-width: 768px) {
  .review-card {
    gap: calc(12 * var(--width-multiplier));
    padding: calc(12 * var(--width-multiplier));
  }
}
.review-card__title {
  color: #0F0E0E;
  font-family: "Involve", sans-serif;
  font-size: calc(18 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .review-card__title {
    font-size: calc(16 * var(--width-multiplier));
  }
}
.review-card__date {
  color: rgba(15, 14, 14, 0.5);
  font-size: calc(14 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 768px) {
  .review-card__date {
    font-size: calc(12 * var(--width-multiplier));
  }
}
.review-card__desc {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .review-card__desc {
    font-size: calc(14 * var(--width-multiplier));
  }
}

.about-banner__box {
  position: relative;
  border-radius: calc(12 * var(--width-multiplier));
  overflow: hidden;
  min-height: calc(600 * var(--width-multiplier));
  display: flex;
  padding: calc(42 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .about-banner__box {
    min-height: calc(300 * var(--width-multiplier));
    padding: calc(12 * var(--width-multiplier));
  }
}
.about-banner__video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}
.about-banner__title {
  text-align: center;
  color: #FFFFFF;
  font-size: calc(46 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1.2;
  mix-blend-mode: exclusion;
  margin-top: auto;
  margin-inline: auto;
  max-width: calc(650 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .about-banner__title {
    font-size: calc(24 * var(--width-multiplier));
  }
}
.about-banner__desc {
  margin-inline: auto;
  max-width: calc(650 * var(--width-multiplier));
  text-align: center;
  color: #0F0E0E;
  font-size: calc(24 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
  margin-top: calc(46 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .about-banner__desc {
    font-size: calc(16 * var(--width-multiplier));
    margin-top: calc(20 * var(--width-multiplier));
  }
}

.history__title {
  text-align: center;
  margin-bottom: calc(46 * var(--width-multiplier));
}

@media (max-width: 768px) {
  .whywe__box {
    grid-template-columns: 100%;
  }
}

.whywe-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: calc(12 * var(--width-multiplier));
  min-height: calc(300 * var(--width-multiplier));
  padding: calc(24 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  background: rgba(0, 0, 0, 0.03);
}
@media (max-width: 768px) {
  .whywe-card {
    min-height: calc(200 * var(--width-multiplier));
  }
}
.whywe-card__icon path {
  transition: all 0.3s ease;
}
.whywe-card__content {
  display: flex;
  flex-direction: column;
  gap: calc(18 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .whywe-card__content {
    gap: calc(6 * var(--width-multiplier));
  }
}
.whywe-card__title {
  color: #0F0E0E;
  font-size: calc(20 * var(--width-multiplier));
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .whywe-card__title {
    font-size: calc(16 * var(--width-multiplier));
  }
}
.whywe-card__desc {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .whywe-card__desc {
    font-size: calc(14 * var(--width-multiplier));
  }
}
.whywe-card:hover .whywe-card__icon path {
  fill: #EF7F1B;
}

.faq {
  padding-top: 0;
}
.faq__title {
  margin-bottom: calc(26 * var(--width-multiplier));
}
.faq__box {
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .faq__box {
    gap: calc(10 * var(--width-multiplier));
  }
}

.faq-item {
  cursor: pointer;
  height: -moz-fit-content;
  height: fit-content;
}

.faq-item__head {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr calc(36 * var(--width-multiplier));
  gap: calc(12 * var(--width-multiplier));
  padding: calc(14 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  background: rgba(0, 0, 0, 0.03);
}
@media (max-width: 768px) {
  .faq-item__head {
    grid-template-columns: 1fr calc(28 * var(--width-multiplier));
  }
}

.faq-item__title {
  color: #0F0E0E;
  font-size: calc(18 * var(--width-multiplier));
  font-weight: 500;
  line-height: 1.2;
  transition: color 0.3s ease;
}
@media (max-width: 768px) {
  .faq-item__title {
    font-size: calc(16 * var(--width-multiplier));
  }
}

.faq-item__icon {
  width: calc(36 * var(--width-multiplier));
  height: calc(36 * var(--width-multiplier));
  background: #FFFFFF;
  border-radius: 50%;
  padding: calc(5 * var(--width-multiplier));
  transition: rotate 0.3s ease;
}
@media (max-width: 768px) {
  .faq-item__icon {
    width: calc(28 * var(--width-multiplier));
    height: calc(28 * var(--width-multiplier));
  }
}

.faq-item__icon svg {
  width: 100%;
  height: 100%;
}

.faq-item__icon path {
  transition: fill 0.3s ease;
}

.faq-item__body {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.faq-item__desc {
  margin-top: calc(10 * var(--width-multiplier));
  padding: calc(24 * var(--width-multiplier));
  background: rgba(0, 0, 0, 0.03);
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
  border-radius: calc(12 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .faq-item__desc {
    padding: calc(12 * var(--width-multiplier));
  }
}

.faq-item.active .faq-item__icon {
  rotate: 180deg;
}

.faq-item.active .faq-item__title {
  color: #EF7F1B;
}

.faq-item.active .faq-item__icon path {
  fill: #EF7F1B;
}

.catalog__box {
  margin-bottom: calc(26 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .catalog__box {
    margin-bottom: calc(13 * var(--width-multiplier));
  }
}

.seosec__box {
  display: flex;
  flex-direction: column;
  gap: calc(26 * var(--width-multiplier));
  max-width: calc(990 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .seosec__box {
    gap: calc(12 * var(--width-multiplier));
  }
}
.seosec__desc {
  color: rgba(15, 14, 14, 0.8);
  font-size: calc(18 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .seosec__desc {
    font-size: calc(14 * var(--width-multiplier));
  }
}

.single__box {
  display: grid;
  grid-template-columns: calc(540 * var(--width-multiplier)) calc(430 * var(--width-multiplier)) 1fr;
  gap: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .single__box {
    grid-template-columns: 100%;
  }
}
.single__gallery-box {
  display: flex;
  flex-direction: column;
  gap: calc(10 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .single__gallery-box {
    gap: calc(6 * var(--width-multiplier));
  }
}
.single__info-column {
  display: flex;
  flex-direction: column;
}
.single__heading {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: calc(12 * var(--width-multiplier));
  margin-bottom: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .single__heading {
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}
.single__title {
  color: #0F0E0E;
  font-size: calc(24 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .single__title {
    font-size: calc(20 * var(--width-multiplier));
  }
}
.single__fav {
  display: flex;
  justify-content: center;
  align-items: center;
  width: calc(24 * var(--width-multiplier));
  height: calc(24 * var(--width-multiplier));
}
.single__fav svg {
  width: 100%;
  height: 100%;
}
.single__descbox {
  display: flex;
  flex-direction: column;
  gap: calc(18 * var(--width-multiplier));
  margin-bottom: calc(32 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .single__descbox {
    gap: calc(6 * var(--width-multiplier));
    margin-bottom: calc(20 * var(--width-multiplier));
  }
}
.single__descbox-title {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
}
.single__desc {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
.single__specifbox {
  display: flex;
  flex-direction: column;
  gap: calc(18 * var(--width-multiplier));
  margin-bottom: calc(27 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .single__specifbox {
    margin-bottom: calc(20 * var(--width-multiplier));
    gap: calc(6 * var(--width-multiplier));
  }
}
.single__specif-title {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
}
.single__specif {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: calc(12 * var(--width-multiplier));
  padding: calc(12 * var(--width-multiplier)) 0;
  border-bottom: calc(1 * var(--width-multiplier)) solid rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
  .single__specif {
    padding: calc(10 * var(--width-multiplier)) 0;
  }
}

.single-tabs__box {
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .single-tabs__box {
    gap: calc(8 * var(--width-multiplier));
  }
}
.single-tabs__content {
  display: flex;
  flex-direction: column;
  gap: calc(5 * var(--width-multiplier));
}
.single-tabs__title {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1.2;
}
.single-tabs__desc {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}

.swiper-single-gallery {
  height: calc(500 * var(--width-multiplier));
  border-radius: calc(8 * var(--width-multiplier));
  overflow: hidden;
}
@media (max-width: 768px) {
  .swiper-single-gallery {
    aspect-ratio: 1;
    height: auto;
  }
}
.swiper-single-gallery__img {
  display: flex;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: calc(8 * var(--width-multiplier));
}
.swiper-single-gallery__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.thumbs-single-gallery {
  overflow: hidden;
  border-radius: calc(8 * var(--width-multiplier));
}
.thumbs-single-gallery .swiper-slide {
  cursor: pointer;
  overflow: hidden;
  border-radius: calc(8 * var(--width-multiplier));
  aspect-ratio: 1;
}
.thumbs-single-gallery .swiper-slide:hover .thumbs-single-gallery__img {
  transform: scale(1.1);
}
.thumbs-single-gallery .swiper-slide.swiper-slide-thumb-active .thumbs-single-gallery__img {
  transform: scale(1.3);
}
.thumbs-single-gallery__img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  transition: all 0.3s ease;
}

.stocart {
  display: flex;
  flex-direction: column;
  gap: calc(8 * var(--width-multiplier));
}
.stocart__top {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(10 * var(--width-multiplier));
  padding: calc(14 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  background: rgba(0, 0, 0, 0.03);
}
.stocart__top img {
  width: calc(28 * var(--width-multiplier));
  height: calc(28 * var(--width-multiplier));
  -o-object-fit: cover;
     object-fit: cover;
}
.stocart__top span {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(14 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
}
.stocart__bottom {
  padding: calc(16 * var(--width-multiplier));
  border-radius: calc(16 * var(--width-multiplier));
  background: rgba(0, 0, 0, 0.03);
}
.stocart__price {
  display: flex;
  align-items: end;
  gap: calc(10 * var(--width-multiplier));
  margin-bottom: calc(24 * var(--width-multiplier));
}
.stocart__price .actual {
  color: #0F0E0E;
  font-size: calc(20 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
}
.stocart__price .old {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(14 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
  text-decoration: line-through;
}
.stocart__btns {
  display: flex;
  flex-direction: column;
  gap: calc(12 * var(--width-multiplier));
}
.stocart__btn_add.hidden {
  display: none;
}

.stocart-after-added {
  display: flex;
  flex-direction: column;
  gap: calc(24 * var(--width-multiplier));
}
.stocart-after-added__title {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
}

.stocart-form {
  display: flex;
  align-items: center;
  gap: calc(12 * var(--width-multiplier));
}
.stocart-form__btn {
  width: calc(48 * var(--width-multiplier));
  height: calc(48 * var(--width-multiplier));
  background: #EF7F1B;
  border-radius: calc(8 * var(--width-multiplier));
  aspect-ratio: 1;
  border: none;
  outline: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.stocart-form-input {
  text-align: center;
  border-radius: 12px;
  background: rgba(0, 0, 0, 0.03);
  height: calc(48 * var(--width-multiplier));
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
  -webkit-appearance: none;
          appearance: none;
  -moz-appearance: textfield;
}
.stocart-form-input::-webkit-outer-spin-button, .stocart-form-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.stocart-after-added {
  display: none;
}
.stocart-after-added.show {
  display: flex;
}

.banner {
  border-radius: calc(12 * var(--width-multiplier));
  background: linear-gradient(93deg, #C5D5CA 1.17%, #D1D9CE 50.37%, #E0DCD1 99.56%);
  padding: calc(65 * var(--width-multiplier)) calc(65 * var(--width-multiplier)) calc(65 * var(--width-multiplier)) calc(36 * var(--width-multiplier));
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
  gap: calc(60 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .banner {
    padding: calc(20 * var(--width-multiplier));
    flex-direction: column;
    gap: calc(30 * var(--width-multiplier));
  }
}
.banner__content {
  max-width: calc(500 * var(--width-multiplier));
  display: flex;
  flex-direction: column;
  gap: calc(25 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .banner__content {
    max-width: 100%;
    gap: calc(15 * var(--width-multiplier));
  }
}
.banner__btn {
  width: -moz-fit-content;
  width: fit-content;
  padding: calc(20 * var(--width-multiplier)) calc(24 * var(--width-multiplier));
  border-radius: calc(12 * var(--width-multiplier));
  font-weight: 400;
}
@media (max-width: 768px) {
  .banner__btn {
    padding: calc(15 * var(--width-multiplier));
    width: 100%;
  }
}
.banner__right {
  max-width: calc(660 * var(--width-multiplier));
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .banner__right {
    max-width: 100%;
  }
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(14 * var(--width-multiplier));
}
.pagination__arrow {
  border: calc(1 * var(--width-multiplier)) solid #0F0E0E;
}
.pagination__nums {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(12 * var(--width-multiplier));
}
.pagination__link {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(22 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .navigation {
    gap: calc(10 * var(--width-multiplier));
  }
}
.navigation__btn {
  width: calc(26 * var(--width-multiplier));
  height: calc(26 * var(--width-multiplier));
  display: flex;
  justify-content: center;
  align-items: center;
  background: #EF7F1B;
  border-radius: calc(4 * var(--width-multiplier));
}
.navigation__pages {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(6 * var(--width-multiplier));
}
.navigation__page {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}
.navigation__page.active {
  font-weight: 600;
  color: #EF7F1B;
}

.swipepagi {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(4 * var(--width-multiplier));
}
.swipepagi .swiper-pagination-bullet {
  margin: 0 !important;
  flex-shrink: 0;
  width: calc(8 * var(--width-multiplier)) !important;
  height: calc(8 * var(--width-multiplier)) !important;
  border: calc(1 * var(--width-multiplier)) solid #FFFFFF;
  opacity: 1 !important;
  background: transparent !important;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .swipepagi .swiper-pagination-bullet {
    width: calc(6 * var(--width-multiplier)) !important;
    height: calc(6 * var(--width-multiplier)) !important;
  }
}
.swipepagi .swiper-pagination-bullet.swiper-pagination-bullet-active {
  width: calc(18 * var(--width-multiplier)) !important;
  background: #FFFFFF !important;
  border-radius: calc(16 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .swipepagi .swiper-pagination-bullet.swiper-pagination-bullet-active {
    height: calc(14 * var(--width-multiplier)) !important;
  }
}

.feedform {
  display: flex;
  flex-direction: column;
  gap: calc(15 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .feedform {
    gap: calc(10 * var(--width-multiplier));
  }
}

.feedform-input {
  padding: calc(15 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
  border-radius: calc(18 * var(--width-multiplier));
  border-top: calc(1 * var(--width-multiplier)) solid #FFFFFF;
  border-bottom: calc(1 * var(--width-multiplier)) solid #FFFFFF;
  color: #FFFFFF;
  font-size: calc(15 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 768px) {
  .feedform-input {
    padding: calc(15 * var(--width-multiplier));
  }
}
.feedform-input::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.feedform-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.feedform-textarea {
  padding: calc(15 * var(--width-multiplier)) calc(20 * var(--width-multiplier));
  background: transparent;
  border-radius: calc(18 * var(--width-multiplier));
  border: none;
  outline: none;
  resize: none;
  border-top: calc(1 * var(--width-multiplier)) solid #FFFFFF;
  border-bottom: calc(1 * var(--width-multiplier)) solid #FFFFFF;
  color: #FFFFFF;
  font-size: calc(15 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
  height: calc(70 * var(--width-multiplier));
}
.feedform-textarea::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
}
.feedform-textarea::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.feedform-agree {
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: calc(10 * var(--width-multiplier));
  margin-left: calc(15 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .feedform-agree {
    margin: calc(10 * var(--width-multiplier)) 0;
  }
}
.feedform-agree__checkbox {
  display: none;
}
.feedform-agree__checkbox:checked + label::before {
  transform: scale(1);
}
.feedform-agree__label {
  position: relative;
  width: calc(20 * var(--width-multiplier));
  height: calc(20 * var(--width-multiplier));
  border-radius: calc(4 * var(--width-multiplier));
  border: calc(1 * var(--width-multiplier)) solid #FFFFFF;
  display: flex;
  flex-shrink: 0;
}
.feedform-agree__label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  transform: scale(0);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='14' viewBox='0 0 14 14' fill='none'%3E%3Cpath d='M11.6667 3.5L5.25 9.91667L2.33333 7' stroke='%23fff' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: 70% 70%;
  background-position: center;
  transition: transform 0.4s cubic-bezier(0.45, 1.8, 0.5, 0.75);
}
.feedform-agree__desc {
  color: #FFFFFF;
  font-size: calc(14 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1.2;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}

.feedform-btn {
  margin-top: calc(10 * var(--width-multiplier));
}

.catcard {
  position: relative;
  border-radius: 9.5px;
  background: #F5F4F1;
  overflow: hidden;
  padding: calc(24 * var(--width-multiplier));
  min-height: calc(230 * var(--width-multiplier));
  z-index: 0;
  transition: all 0.3s ease;
}
@media (max-width: 768px) {
  .catcard {
    min-height: calc(100 * var(--width-multiplier));
    aspect-ratio: 1;
    padding: calc(12 * var(--width-multiplier));
  }
}
.catcard__title {
  color: #0F0E0E;
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  max-width: calc(120 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .catcard__title {
    font-size: calc(16 * var(--width-multiplier));
  }
}
.catcard__img {
  position: absolute;
  bottom: 0;
  right: 0;
  height: calc(200 * var(--width-multiplier));
  max-width: calc(190 * var(--width-multiplier));
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: bottom right;
     object-position: bottom right;
  z-index: -1;
  transition: transform 1s ease;
}
@media (max-width: 768px) {
  .catcard__img {
    width: 80%;
    height: 80%;
  }
}
@media (hover: hover) and (pointer: fine) {
  .catcard:hover {
    transform: scale(1.05);
  }
  .catcard:hover .catcard__img {
    transform: scale(1.1);
  }
  .catcard:active {
    transform: scale(1);
  }
}
@media (hover: none) {
  .catcard:active {
    transform: scale(0.96);
  }
  .catcard:active .catcard__img {
    transform: scale(1.1);
  }
}

.productcard {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: calc(16 * var(--width-multiplier));
}
.productcard__img {
  width: 100%;
  height: calc(290 * var(--width-multiplier));
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: calc(8 * var(--width-multiplier));
  overflow: hidden;
}
@media (max-width: 768px) {
  .productcard__img {
    height: calc(200 * var(--width-multiplier));
  }
}
.productcard__img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.productcard__content {
  display: flex;
  flex-direction: column;
  gap: calc(16 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .productcard__content {
    gap: calc(8 * var(--width-multiplier));
  }
}
.productcard__title {
  color: #0F0E0E;
  font-size: calc(18 * var(--width-multiplier));
  font-weight: 500;
  line-height: 1.2;
}
@media (max-width: 768px) {
  .productcard__title {
    font-size: calc(16 * var(--width-multiplier));
  }
}
.productcard__pricebox {
  display: flex;
  align-items: end;
  gap: calc(8 * var(--width-multiplier));
  flex-wrap: wrap;
}
.productcard__price_actual {
  color: #0F0E0E;
  font-size: calc(16 * var(--width-multiplier));
  font-weight: 600;
  line-height: 1;
}
@media (max-width: 768px) {
  .productcard__price_actual {
    font-size: 14px;
  }
}
.productcard__price_old {
  color: rgba(0, 0, 0, 0.5);
  font-size: calc(13 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
  text-decoration: line-through;
}
@media (max-width: 768px) {
  .productcard__price_old {
    font-size: 10px;
  }
}
.productcard__price_has-discount {
  color: #FF6161;
}
.productcard__markdis {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: calc(8 * var(--width-multiplier));
  padding: calc(4 * var(--width-multiplier));
  border-radius: calc(4 * var(--width-multiplier));
  background: rgba(0, 0, 0, 0.03);
  width: -moz-fit-content;
  width: fit-content;
}
.productcard__markdis img {
  width: calc(16 * var(--width-multiplier));
  height: calc(16 * var(--width-multiplier));
  -o-object-fit: contain;
     object-fit: contain;
  -o-object-position: center;
     object-position: center;
}
@media (max-width: 768px) {
  .productcard__markdis img {
    width: 10px;
    height: 10px;
  }
}
.productcard__markdis span {
  color: #0F0E0E;
  font-size: calc(13 * var(--width-multiplier));
  font-weight: 400;
  line-height: 1;
}
@media (max-width: 768px) {
  .productcard__markdis span {
    font-size: calc(12 * var(--width-multiplier));
  }
}
.productcard__like {
  position: absolute;
  top: calc(20 * var(--width-multiplier));
  right: calc(20 * var(--width-multiplier));
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  z-index: 2;
  transition: all 0.3s ease;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
  width: calc(24 * var(--width-multiplier));
  height: calc(24 * var(--width-multiplier));
}
@media (max-width: 768px) {
  .productcard__like {
    top: calc(10 * var(--width-multiplier));
    right: calc(10 * var(--width-multiplier));
  }
}
.productcard__like svg {
  transition: all 0.3s ease;
  width: 100%;
  height: 100%;
}
.productcard__like:hover {
  transform: scale(1.1);
}
.productcard__like:active {
  transform: scale(0.96);
}
.productcard__btnbox {
  margin-top: auto;
}
.productcard.in-cart .add-to-card {
  background: #D27726;
}
.productcard.in-favs .productcard__like svg {
  fill: #EF7F1B;
}/*# sourceMappingURL=style.css.map */