section
    padding: wm(60) 0

    +media(m)
        padding: wm(30) 0

    &.first-section
        padding-top: wm(12)

    &.last-section
        padding-bottom: wm(120)

        +media(m)
            padding-bottom: wm(60)

    &.full-page
        min-height: calc(100vh - wm(154))

        +media(m)
            min-height: calc(100vh - wm(182))


main
    padding-top: wm(154)

    +media(m)
        padding-top: wm(151)