.about-banner

    &__box
        position: relative
        +r12
        overflow: hidden
        min-height: wm(600)
        display: flex
        padding: wm(42)

        +media(m)
            min-height: wm(300)
            padding: wm(12)


    &__video
        position: absolute
        top: 0
        left: 0
        z-index: -2

    &__title
        text-align: center
        color: $clr-white
        font-size: wm(46)
        font-weight: 600
        line-height: 1.2
        mix-blend-mode: exclusion
        margin-top: auto
        margin-inline: auto
        max-width: wm(650)

        +media(m)
            font-size: wm(24)

    &__desc
        margin-inline: auto
        max-width: wm(650)
        text-align: center
        color: $clr-dark
        font-size: wm(24)
        font-weight: 400
        line-height: 1.2
        margin-top: wm(46)

        +media(m)
            font-size: wm(16)
            margin-top: wm(20)



.whywe

    &__box
        +media(m)
            grid-template-columns: 100%


.whywe-card
    +flex-column
    justify-content: space-between
    gap: wm(12)
    min-height: wm(300)
    padding: wm(24)    
    +r12
    background: rgba(0, 0, 0, 0.03)

    +media(m)
        min-height: wm(200)

    &__icon
        path
            +transition

    &__content
        +flex-column
        gap: wm(18)

        +media(m)
            gap: wm(6)

    &__title
        color: $clr-dark
        font-size: wm(20)
        font-weight: 500
        line-height: 1.2

        +media(m)
            font-size: wm(16)

    &__desc
        color: rgba(0, 0, 0, 0.50)
        font-size: wm(16)
        font-weight: 400
        line-height: 1.2

        +media(m)
            font-size: wm(14)

    &:hover
        .whywe-card__icon path
            fill: $clr-primary


.faq
    &__title
        margin-bottom: wm(26)

    &__box
        +flex-column
        gap: wm(12)

        +media(m)
            gap: wm(10)


.faq-item
    cursor: pointer
    height: -moz-fit-content
    height: fit-content

.faq-item__head 
    display: grid
    align-items: center
    grid-template-columns: 1fr wm(36)
    gap: wm(12)
    padding: wm(14)
    border-radius: wm(12)
    background: rgba(0, 0, 0, 0.03)

    +media(m)
        grid-template-columns: 1fr wm(28)

.faq-item__title 
    color: $clr-dark
    font-size: wm(18)
    font-weight: 500
    line-height: 1.2
    +transition(color)

    +media(m)
        font-size: wm(16)

.faq-item__icon 
    width: wm(36)
    height: wm(36)
    background: $clr-white
    border-radius: 50%
    padding: wm(5)
    transition: rotate 0.3s ease

    +media(m)
        width: wm(28)
        height: wm(28)
        

.faq-item__icon svg
    width: 100%
    height: 100%

.faq-item__icon path
    +transition(fill)

.faq-item__body 
    overflow: hidden
    max-height: 0
    transition: max-height 0.3s ease-out

.faq-item__desc 
    margin-top: wm(10)
    padding: wm(24)
    background: rgba(0, 0, 0, 0.03)
    color: $clr-dark
    font-size: wm(16)
    font-weight: 400
    line-height: 1.2
    +r12

    +media(m)
        padding: wm(12)

.faq-item.active .faq-item__icon 
    rotate: 180deg

.faq-item.active .faq-item__title
    color: $clr-primary

.faq-item.active .faq-item__icon path
    fill: $clr-primary

    

.history
    overflow: hidden

    &__title
        +t-center
        margin-bottom: wm(46)

    &__box
        +flex-column
        gap: wm(50)

        +media(m)
            gap: wm(12)



.thumbs-history
    position: relative

    &::before
        content: ''
        width: 100%
        height: wm(1)
        background: #F5F4F1
        position: absolute
        top: wm(5)
        left: 0

    .swiper-slide
        +flex-column
        align-items: center
        text-align: center
        gap: wm(24)
        cursor: pointer

        +media(m)
            gap: wm(12)
            width: fit-content

    &__circle
        background: #FFB878
        width: wm(12)
        height: wm(12)
        border-radius: 50%
        +transition

    &__year
        color: $clr-dark
        font-size: wm(52)
        font-weight: 500
        line-height: 1
        +transition

        +media(m)
            font-size: wm(24)

    .swiper-slide-thumb-active
        .thumbs-history__circle
            background: $clr-primary

        .thumbs-history__year
            color: $clr-primary


.swiper-history
    position: relative
    +r12
    overflow: hidden

    .swiper-slide
        display: grid
        grid-template-columns: wm(480) 1fr
        gap: wm(28)
        height: auto

        +media(m)
            +flex-column
            gap: wm(12)

    &__left
        +r12
        width: 100%
        height: 100%
        overflow: hidden

        +media(m)
            max-height: wm(180)

        img
            width: 100%
            height: 100%
            object-fit: cover

    &__right
        +r12
        background: rgba(0, 0, 0, 0.03)
        +flex-column
        gap: wm(23)
        padding: wm(32)

        +media(m)
            padding: wm(16)
            gap: wm(12)
            height: 100%
            flex-grow: 1

    &__title
        color: $clr-dark
        font-size: wm(20)
        font-weight: 500
        line-height: 1.2

        +media(m)
            font-size: wm(18)

    &__desc
        color: $clr-dark
        font-size: wm(14)
        font-weight: 400
        line-height: 1.2

    &__btn
        display: none

        +media(m)
            +flex-center
            width: wm(30)
            height: wm(30)

        &-next
            right: 0

        &-prev
            left: 0

.history-nav
    +flex-center
    gap: wm(6)
    border-radius: wm(24)
    background: rgba(0, 0, 0, 0.03)
    width: fit-content
    margin-inline: auto