.catanav
    position: fixed
    top: wm(150)
    left: 0
    width: 100%
    height: fit-content
    background: $clr-white
    padding: wm(32) 0
    min-height: 40vh

    &__box
        max-width: wm(1352)
        padding-inline: wm(16)
        margin-inline: auto
        display: grid
        grid-template-columns: repeat(5, 1fr)
        gap: wm(36)

    


.catanav-parent
    display: grid
    grid-template-columns: wm(44) 1fr
    gap: wm(20)

    &__icon
        width: wm(44)
        height: wm(44)
        border-radius: wm(6)
        +flex-center
        background: #FFFBF0

    &__title
        color: $clr-dark
        font-size: wm(16)
        font-weight: 500
        line-height: 1
        
    
    &__box
        +flex-column
        gap: wm(20)

    &__inner
        position: relative
        +flex-column
        // gap: wm(20)


.catanav-son
    padding: wm(10) 0

    &__box
        position: absolute
        left: 100%
        top: 0
        +flex-column
        gap: wm(20)
        padding: wm(24)
        border-radius: 6px
        background: #FFFBF0
        min-width: wm(240)
        overflow-y: auto
        overflow-x: hidden
        max-height: wm(300)
        opacity: 0
        transform: translateX(0)
        pointer-events: none
        +transition

        &:hover
            opacity: 1
            transform: translateX(wm(-10))
            

        +media(m)
            display: none
        
    &__title
        color: $clr-dark
        font-size: wm(14)
        font-weight: 400
        line-height: 1
        display: flex

    &:hover .catanav-son__box
        opacity: 1
        transform: translateX(wm(-10))
        pointer-events: auto

    &:hover .catanav-son__title
        color: $clr-primary