.hero
    &__box
        display: grid
        grid-template-columns: 1fr wm(480)
        gap: wm(24)
        min-height: wm(400)

    &-left
        position: relative
        +p32
        +r12
        overflow: hidden

        &::before
            content: ''
            +abs-fill
            background: linear-gradient(270deg, rgba(49, 49, 49, 0) 0%, rgba(49, 49, 49, 0.85) 100%)
            z-index: -2

        &__title
            max-width: wm(361)
            font-weight: 600

        &__bg
            +bg-img

    &-right
        position: relative
        +p24
        +r12
        overflow: hidden

        &::before
            content: ''
            +abs-fill
            background: linear-gradient(90deg, rgba(49, 49, 49, 0.00) 0%, rgba(49, 49, 49, 0.82) 134.13%)
            z-index: -2

        &__bg
            +bg-img

        &__content
            +flex-column
            gap: wm(18)

        &__icon
            width: wm(42)
            height: wm(42)
            object-fit: contain

        &__subtitle
            +involve
            color: $clr-white
            font-size: wm(28)
            font-weight: 500
            line-height: 1
            text-transform: uppercase

        &__title
            +involve
            color: $clr-white
            font-size: wm(106)
            font-weight: 600
            line-height: 1
            text-transform: uppercase

.swiper-hero
    overflow: hidden
    +r12


.swiper-hero-pagi
    position: relative
    top: unset !important
    bottom: unset !important
    left: unset !important
    right: unset !important
    +flex-center
    gap: wm(6)
    width: fit-content !important
    padding: wm(6)
    +r12
    background: #F5F4F1
    margin-inline: auto
    margin-top: wm(26)

    .swiper-pagination-bullet
        margin: 0 !important
        width: wm(8)
        height: wm(8)

    .swiper-pagination-bullet-active
        background: $clr-primary