.hero
    &__box
        display: grid
        grid-template-columns: 1fr wm(480)
        gap: wm(24)
        min-height: wm(400)

        +media(m)
            grid-template-columns: 100%
            gap: 0
            min-height: fit-content
            +r12
            overflow: hidden
            height: 100%

    &-left
        position: relative
        +p32
        +r12
        overflow: hidden

        +media(m)
            +p12
            min-height: wm(150)
            border-radius: 0

        &::before
            content: ''
            +abs-fill
            background: linear-gradient(270deg, rgba(49, 49, 49, 0) 0%, rgba(49, 49, 49, 0.85) 100%)
            z-index: -2

        &__title
            max-width: wm(361)
            font-weight: 600

        &__bg
            +bg-img

    &-right
        position: relative
        +p24
        +r12
        overflow: hidden

        +media(m)
            +p12
            min-height: wm(150)
            border-radius: 0


        &::before
            content: ''
            +abs-fill
            background: linear-gradient(90deg, rgba(49, 49, 49, 0.00) 0%, rgba(49, 49, 49, 0.82) 134.13%)
            z-index: -2

        &__bg
            +bg-img

        &__content
            +flex-column
            gap: wm(18)

            +media(m)
                gap: wm(6)

        &__icon
            width: wm(42)
            height: wm(42)
            object-fit: contain

            +media(m)
                width: wm(32)
                height: wm(32)

        &__subtitle
            +involve
            color: $clr-white
            font-size: wm(28)
            font-weight: 500
            line-height: 1
            text-transform: uppercase

            +media(m)
                font-size: wm(16)

        &__title
            +involve
            color: $clr-white
            font-size: wm(106)
            font-weight: 600
            line-height: 1
            text-transform: uppercase

            +media(m)
                font-size: wm(50)

.swiper-hero
    overflow: hidden
    +r12

    .swiper-slide
        height: auto


.swiper-hero-pagi
    position: relative
    top: unset !important
    bottom: unset !important
    left: unset !important
    right: unset !important
    +flex-center
    gap: wm(6)
    width: fit-content !important
    padding: wm(6)
    +r12
    background: #F5F4F1
    margin-inline: auto
    margin-top: wm(26)
    
    +media(m)
        margin-top: wm(12)

    .swiper-pagination-bullet
        margin: 0 !important
        width: wm(8)
        height: wm(8)

    .swiper-pagination-bullet-active
        background: $clr-primary



.hero-products
    &__title
        margin-bottom: wm(26)

        +media(m)
            margin-bottom: wm(20)



.willfollow
    &__box
        position: relative
        display: flex
        align-items: center
        gap: wm(100)
        +p32
        +r12
        background: linear-gradient(93deg, #FA8D07 1.17%, #AE251F 50.37%, #1F0F02 99.56%)

        +media(m)
            gap: wm(20)
            overflow: hidden
            flex-direction: column
            +p24

    &__left
        +flex-column
        gap: wm(25)
        max-width: wm(540)

        +media(m)
            gap: wm(15)
            max-width: 100%

    &__right
        +media(m)
            display: none


    &__img
        position: absolute
        top: wm(-58)
        right: wm(160)
        height: calc(100% + wm(60))
        max-width: wm(480)
        object-fit: cover
        width: 100%
        z-index: 1

    &__title
        color: $clr-white
        font-size: wm(32)
        font-weight: 600
        line-height: 1.2

        +media(m)
            font-size: wm(24)

    &__desc
        color: $clr-white
        font-size: wm(18)
        font-weight: 400
        line-height: 1.2

        +media(m)
            font-size: wm(16)

    &__btn
        width: fit-content
        padding: wm(16) wm(46)
        border-radius: wm(12)

        +media(m)
            width: 100%


.about-hero
    &__heading
        +flex-column
        align-items: center
        gap: wm(24)
        text-align: center
        margin-bottom: wm(36)

        +media(m)
            gap: wm(16)

    &__subtitle
        color: $clr-dark
        +involve
        font-size: wm(18)
        font-weight: 500
        line-height: 1
        font-style: italic

        +media(m)
            font-size: wm(16)

    &__box
        +grid-columns(2, wm(24))

        +media(m)
            grid-template-columns: 100%
            gap: wm(20)

    &__video
        width: 100%
        height: 100%
        object-fit: cover
        +r12

    &__right
        +flex-column
        gap: wm(36)

        +media(m)
            gap: wm(24)

    &__btn
        width: fit-content
        padding: wm(16) wm(46)
        +r12

        +media(m)
            width: 100%


.swiper-partners
    .swiper-wrapper
        -webkit-transition-timing-function: linear
        -o-transition-timing-function: linear
        transition-timing-function: linear

    .swiper-slide
        max-width: wm(250)
        height: auto

        +media(m)
            max-width: wm(200)


.partnercard
    +flex-center
    height: 100%
    padding: wm(24)
    border-radius: 12px
    background: #F5F4F1

    +media(m)
        padding: wm(12)

    &__img
        width: 100%
        height: 100%
        object-fit: contain

        +media(m)
            width: 90%
            height: 90%


.partners
    overflow: hidden


.reviews
    overflow: hidden

    &__title
        margin-bottom: wm(24)

        +media(m)
            margin-bottom: wm(20)

    &__btn
        width: fit-content
        min-width: wm(220)
        

        +media(m)
            width: 100%

.swiper-reviews
    margin-bottom: wm(24)

    +media(m)
        margin-bottom: wm(20)

    .swiper-wrapper
        -webkit-transition-timing-function: linear
        -o-transition-timing-function: linear
        transition-timing-function: linear


    .swiper-slide
        height: auto
        max-width: wm(480)

        +media(m)
            max-width: wm(200)

.review-card
    +flex-column
    gap: wm(16)
    +r12
    background: #F5F4F1
    +p24
    height: 100%

    +media(m)
        gap: wm(12)
        +p12

    &__title
        color: $clr-dark
        +involve
        font-size: wm(18)
        font-weight: 600
        line-height: 1.2

        +media(m)
            font-size: wm(16)

    &__date
        color: rgba(15, 14, 14, 0.50)
        font-size: wm(14)
        font-weight: 400
        line-height: 1

        +media(m)
            font-size: wm(12)

    &__desc
        color: $clr-dark
        font-size: wm(16)
        font-weight: 400
        line-height: 1.2

        +media(m)
            font-size: wm(14)
